.card{
    background-color: #ffffff;
    width: 420px;
    height: 550px;
    margin: 1%;
    border-radius: 12px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 10px;
    border: #FF9240 solid 3px;
}

.card_img{
    width: 130px;
    height: 130px;
}

.card_title{
    font-family: Space Grotesk;
    font-size: 36px;
    font-weight: 500;
    line-height: 45.94px;
    text-align: center;
    color: #0F298B;
    margin-bottom: 20px;
}

.card_paragraph{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: center;
    color: black;
    margin-bottom: 60px;
}

/* MODAL */

.modal-header {
    border-bottom: none; 
}
.modal-container{
    overflow: hidden; 
    position: relative;
}

.modal-container-style{
    display: flex;
    flex-direction: row;
    width: 800px;
    padding: 30px;
}

.modal-container-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-modal{
    width: 250px;
    height: 245px;
}
.title-modal{
    font-family: Space Grotesk;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.0222em;
    text-align: left;

}
.paragraph-modal{
    font-family: Roboto Flex;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}

.button-modal{
    font-family: Roboto Flex;
    font-size: 25px;
    font-weight: 600;
    line-height: 29.3px;
    text-align: left;
    background-color: #E05330;
    color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    border: none;
    margin-bottom: 30px;
    margin-right: 6%;
}

.container-button-modal{
    display: flex;
    justify-content: end;
}

.desatails-responsive{
    display: none;
}

/* Teléfonos  */
@media (min-width: 321px) and (max-width: 480px) {
    .card{
        width: 180px;
        height: 270px;
        margin: auto;
        padding: 55px 22px 55px 22px;
    }
    .card_img{
        width: 70px;
        height: 70px;
        margin-bottom: 15px;
    }
    .card_title{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }
    .modal-container-img{
        display: none;
    }
    .title-modal{
        display: none;
    }
    .card_paragraph{
     display: none;    
    }
    .img-modal{
        width: 75px;
        height: 70px;
    }
    .details-responsive{
        display: flex;
        margin: auto;

    }
    .title-model_reponsive{
        display: flex;
        align-items: center;
        width: 220px;
        font-size: 20px;
        font-weight: 700;
    }
    .modal-container-style{
        display: flex;
        flex-direction: column;
        width: 370px;
        margin: auto;
    }
    .paragraph-modal{
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        margin-top: 12px;
        margin-bottom: 10px;
        color: black;
    }
    .container-button-modal{
        display: flex;
        justify-content: center;
    }
    .button-modal{
        font-size: 18px;
        font-weight: 400;
        border-radius: 12px;
        padding: 10px 38px 10px 38px;
        margin-bottom: 30px;
        margin-right: 6%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .card{
        width: 280px;
        height: 300px;
        margin: auto;
        padding: 55px 22px 55px 22px;
    }
    .card_img{
        width: 95px;
        height: 95px;
        margin-bottom: 15px;
    }
    .card_title{
        font-size: 25px;
        font-weight: 500;
        line-height: 25px;
    }
    .modal-container-img{
        display: none;
    }
    .title-modal{
        display: none;
    }
    .card_paragraph{
     display: none;    
    }
    .img-modal{
        width: 75px;
        height: 70px;
    }
    .details-responsive{
        display: flex;
        margin: auto;

    }
    .title-model_reponsive{
        display: flex;
        align-items: center;
        width: 220px;
        font-size: 20px;
        font-weight: 700;
    }
    .modal-container-style{
        display: flex;
        flex-direction: column;
        width: 370px;
        margin: auto;
    }
    .paragraph-modal{
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        margin-top: 12px;
        margin-bottom: 10px;
        color: black;
    }
    .container-button-modal{
        display: flex;
        justify-content: center;
    }
    .button-modal{
        font-size: 18px;
        font-weight: 400;
        border-radius: 12px;
        padding: 10px 38px 10px 38px;
        margin-bottom: 30px;
        margin-right: 6%;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .card{
        width: 750px;
        height: 500px;
        margin: auto;
        padding: 55px 22px 55px 22px;
    }
    .card_img{
        width: 110px;
        height: 110px;
        margin-bottom: 15px;
    }
    .card_title{
        font-size: 30px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 20px;
    }
    
    .modal-container-img{
        display: none;
    }
    .title-modal{
        display: none;
    }
    .card_paragraph{
        display: block; 
        margin-top: 40px; 
        width: 300px; 
        text-align: center;
        font-family: Roboto;
        font-weight: 400;

    }
    .img-modal{
        width: 75px;
        height: 70px;
    }
    .details-responsive{
        display: flex;
        margin: auto;
    }
    .title-model_reponsive{
        display: flex;
        align-items: center;
        width: 220px;
        font-size: 20px;
        font-weight: 700;
    }
    .modal-container-style{
        display: flex;
        flex-direction: column;
        width: 370px;
        margin: auto;
    }
    .paragraph-modal{
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        margin-top: 12px;
        margin-bottom: 10px;
        color: black;
    }
    .container-button-modal{
        display: flex;
        justify-content: center;
    }
    .button-modal{
        font-size: 18px;
        font-weight: 400;
        border-radius: 12px;
        padding: 10px 38px 10px 38px;
        margin-bottom: 30px;
        margin-right: 6%;
    }
}

/* Pantallas de escritorio  */
@media (min-width: 1024px) and (max-width: 1280px) {
    .card{
        width: 590px;
        height: 500px;
        margin: auto;
        padding: 55px 22px 55px 22px;
    }
    .card_img{
        width: 110px;
        height: 110px;
        margin-bottom: 15px;
    }
    .card_title{
        font-size: 30px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 20px;
    }
    

    .card_paragraph{
        display: block; 
        margin-top: 40px; 
        width: 300px; 
        text-align: center;
        font-family: Roboto;
        font-weight: 400;

    }
    .details-responsive{
        display: none;
    }
    
    .modal-container-img{
        display: block;
    }
    .title-modal{
        display: block;
    }
    .img-modal{
        width: 220px;
        height: 220px;
    }
    .title-model_reponsive{
        display: flex;
        align-items: center;
        width: 220px;
        font-size: 20px;
        font-weight: 700;
    }
    .modal-container-style{
        display: flex;
        flex-direction: row;
        width: 790px;
        margin: auto;
    }
    .paragraph-modal{
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        margin-top: 12px;
        margin-bottom: 10px;
        color: black;
    }
    .container-button-modal{
        display: flex;
        justify-content: end;
    }
    .button-modal{
        font-size: 18px;
        font-weight: 400;
        border-radius: 12px;
        padding: 10px 38px 10px 38px;
        margin-bottom: 30px;
        margin-right: 6%;
    }
}

 /* Pantallas de escritorio pequeñas (1281px - 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
    .card{
        width: 390px;
        height: 500px;
        margin: auto;
        padding: 55px 22px 55px 22px;
    }
    .card_img{
        width: 110px;
        height: 110px;
        margin-bottom: 15px;
    }
    .card_title{
        font-size: 30px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 20px;
    }
    

    .card_paragraph{
        display: block; 
        margin-top: 40px; 
        width: 300px; 
        text-align: center;
        font-family: Roboto;
        font-weight: 400;

    }
    .details-responsive{
        display: none;
    }
    
    .modal-container-img{
        display: block;
    }
    .title-modal{
        display: block;
    }
    .img-modal{
        width: 220px;
        height: 220px;
    }
    .title-model_reponsive{
        display: flex;
        align-items: center;
        width: 220px;
        font-size: 20px;
        font-weight: 700;
    }
    .modal-container-style{
        display: flex;
        flex-direction: row;
        width: 790px;
        margin: auto;
    }
    .paragraph-modal{
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        margin-top: 12px;
        margin-bottom: 10px;
        color: black;
    }
    .container-button-modal{
        display: flex;
        justify-content: end;
    }
    .button-modal{
        font-size: 18px;
        font-weight: 400;
        border-radius: 12px;
        padding: 10px 38px 10px 38px;
        margin-bottom: 30px;
        margin-right: 6%;
    }
}
 
  /* Pantallas de escritorio grandes (1441px - 1920px) */
@media (min-width: 1441px) and (max-width: 1920px) {
    .card{
        width: 390px;
        height: 500px;
        margin: auto;
        padding: 55px 22px 55px 22px;
    }
    .card_img{
        width: 110px;
        height: 110px;
        margin-bottom: 15px;
    }
    .card_title{
        font-size: 30px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 20px;
    }
    
    .card_paragraph{
        display: block; 
        margin-top: 40px; 
        width: 300px; 
        text-align: center;
        font-family: Roboto;
        font-weight: 400;
    }
    .details-responsive{
        display: none;
    }
    
    .modal-container-img{
        display: block;
    }
    .title-modal{
        display: block;
    }
    .img-modal{
        width: 220px;
        height: 220px;
    }
    .title-model_reponsive{
        display: flex;
        align-items: center;
        width: 220px;
        font-size: 20px;
        font-weight: 700;
    }
    .modal-container-style{
        display: flex;
        flex-direction: row;
        width: 790px;
        margin: auto;
    }
    .paragraph-modal{
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        margin-top: 12px;
        margin-bottom: 10px;
        color: black;
    }
    .container-button-modal{
        display: flex;
        justify-content: end;
    }
    .button-modal{
        font-size: 18px;
        font-weight: 400;
        border-radius: 12px;
        padding: 10px 38px 10px 38px;
        margin-bottom: 30px;
        margin-right: 6%;
    }
} 
@media (min-width: 1921px) and (max-width: 2560px) {
    .card{
        width: 600px;
        height: 700px;
        margin: auto;
        padding: 55px 22px 55px 22px;
    }
    .card_img{
        width: 110px;
        height: 110px;
        margin-bottom: 15px;
    }
    .card_title{
        font-size: 30px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 20px;
    }
    
    .card_paragraph{
        display: block; 
        margin-top: 40px; 
        width: 300px; 
        text-align: center;
        font-family: Roboto;
        font-weight: 400;
    }
    .details-responsive{
        display: none;
    }
    
    .modal-container-img{
        display: block;
    }
    .title-modal{
        display: block;
    }
    .img-modal{
        width: 220px;
        height: 220px;
    }
    .title-model_reponsive{
        display: flex;
        align-items: center;
        width: 220px;
        font-size: 20px;
        font-weight: 700;
    }
    .modal-container-style{
        display: flex;
        flex-direction: row;
        width: 890px;
        margin: auto;
    }
    .paragraph-modal{
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        margin-top: 12px;
        margin-bottom: 10px;
        color: black;
    }
    .container-button-modal{
        display: flex;
        justify-content: end;
    }
    .button-modal{
        font-size: 18px;
        font-weight: 400;
        border-radius: 12px;
        padding: 10px 38px 10px 38px;
        margin-bottom: 30px;
        margin-right: 6%;
    }
    .carousel-item-serv {
        height: 470px;
        margin: 0 50px;
        background: #012E8B;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 8px;
    }
}
