.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 70%;
  }
  
  .content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .image-container {
    width: 130px;
    height: 130px;
  }
  
  .rotating-image {
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
  }

  .image-container.animate .rotating-image {
    animation: swing 1s ease-in-out; 
  }

  @keyframes swing {
    0% {
      transform: rotate(0deg); 
    }
    /* Gira hacia un lado */
    50% {
      transform: rotate(190deg); 
    }
    100% {
      transform: rotate(0deg); 
    }
  }
  
  .text-container {
    width: 230px;
    overflow: hidden;
    height: 200px; /* Altura del texto visible */
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
  }
  
  .animated-text {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: black;
  }

  .animated-text-style{
    font-size: 14px;
    font-family: Roboto Flex;
    line-height: 17px;
    text-align: left;
  }
  /* Cambia el texto al mismo tiempo que gira la imagen */
  .text-animate {
    animation: slideText 1s ease-in-out; 
  }
  
  /* Animación de rotación */
  @keyframes slideText {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    /* Se mueve hacia arriba */
    50% {
      transform: translateY(50px);
      opacity: 0.5;
    }
    /* Regresa a la posición inicial */
    100% {
      transform: translateY(150px); 
      opacity: 0;
    }
  }
  
   /* Teléfonos */
  @media (min-width: 321px) and (max-width: 480px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 600px;
      height: 70%;
      padding: 0%;
    }
    
    .content {
      display: flex;
      align-items: center;
      gap: 20px;
      overflow: hidden;
      max-width: 340px;
    }
    
    .image-container {
      width: 130px;
      height: 130px;
    }
    
    .rotating-image {
      width: 100%;
      height: 100%;
      transform-origin: center;
      transition: transform 0.4s ease-in-out;
    }
  
    .image-container.animate .rotating-image {
      animation: swing 1s ease-in-out; 
    }
  
    @keyframes swing {
      0% {
        transform: rotate(0deg); 
      }
      /* Gira hacia un lado */
      50% {
        transform: rotate(190deg); 
      }
      100% {
        transform: rotate(0deg); 
      }
    }
    
    .text-container {
      width: 230px;
      overflow: hidden;
      height: 200px; /* Altura del texto visible */
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 30px;
    }
    
    .animated-text {
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
  
    .animated-text-style{
      font-size: 14px;
      font-family: Roboto Flex;
      line-height: 17px;
      text-align: left;
    }
    /* Cambia el texto al mismo tiempo que gira la imagen */
    .text-animate {
      animation: slideText 1s ease-in-out; 
    }
    
    /* Animación de rotación */
    @keyframes slideText {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      /* Se mueve hacia arriba */
      50% {
        transform: translateY(50px);
        opacity: 0.5;
      }
      /* Regresa a la posición inicial */
      100% {
        transform: translateY(150px); 
        opacity: 0;
      }
    }
  }
 
  @media (min-width: 481px) and (max-width: 767px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 70%;
    }
    
    .content {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    
    .image-container {
      width: 130px;
      height: 130px;
    }
    
    .rotating-image {
      width: 100%;
      height: 100%;
      transform-origin: center;
      transition: transform 0.4s ease-in-out;
    }
  
    .image-container.animate .rotating-image {
      animation: swing 1s ease-in-out; 
    }
  
    @keyframes swing {
      0% {
        transform: rotate(0deg); 
      }
      /* Gira hacia un lado */
      50% {
        transform: rotate(190deg); 
      }
      100% {
        transform: rotate(0deg); 
      }
    }
    
    .text-container {
      width: 258px;
      overflow: hidden;
      height: 200px; /* Altura del texto visible */
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 30px;
    }
    
    .animated-text {
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
  
    .animated-text-style{
      font-size: 18px;
      font-weight: 400;
      font-family: Roboto Flex;
      line-height: 17px;
      text-align: left;
    }
    /* Cambia el texto al mismo tiempo que gira la imagen */
    .text-animate {
      animation: slideText 1s ease-in-out; 
    }
    
    /* Animación de rotación */
    @keyframes slideText {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      /* Se mueve hacia arriba */
      50% {
        transform: translateY(50px);
        opacity: 0.5;
      }
      /* Regresa a la posición inicial */
      100% {
        transform: translateY(150px); 
        opacity: 0;
      }
    }

  }
 
  /* Tablets  */
  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 70%;
    }
    
    .content {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    
    .image-container {
      width: 160px;
      height: 160px;
      margin: auto;
    }
    
    .rotating-image {
      width: 100%;
      height: 100%;
      transform-origin: center;
      transition: transform 0.4s ease-in-out;
    }
  
    .image-container.animate .rotating-image {
      animation: swing 1s ease-in-out; 
    }
  
    @keyframes swing {
      0% {
        transform: rotate(0deg); 
      }
      /* Gira hacia un lado */
      50% {
        transform: rotate(190deg); 
      }
      100% {
        transform: rotate(0deg); 
      }
    }
    
    .text-container {
      width: 460px;
      overflow: hidden;
      height: 200px; /* Altura del texto visible */
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 30px;
    }
    
    .animated-text {
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
  
    .animated-text-style{
      font-size: 25px;
      font-weight: 400;
      font-family: Roboto Flex;
      line-height: 28px;
      text-align: left;
      margin-left: 10%;
    }
    /* Cambia el texto al mismo tiempo que gira la imagen */
    .text-animate {
      animation: slideText 1s ease-in-out; 
    }
    
    /* Animación de rotación */
    @keyframes slideText {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      /* Se mueve hacia arriba */
      50% {
        transform: translateY(50px);
        opacity: 0.5;
      }
      /* Regresa a la posición inicial */
      100% {
        transform: translateY(150px); 
        opacity: 0;
      }
    }
  }

  /* Pantallas de escritorio  */
  @media (min-width: 1023px) and (max-width: 1280px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 70%;
    }
    
    .content {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    
    .image-container {
      width: 300px;
      height: 300px;
      margin: auto;
    }
    
    .rotating-image {
      width: 100%;
      height: 100%;
      transform-origin: center;
      transition: transform 0.4s ease-in-out;
    }
  
    .image-container.animate .rotating-image {
      animation: swing 1s ease-in-out; 
    }
  
    @keyframes swing {
      0% {
        transform: rotate(0deg); 
      }
      /* Gira hacia un lado */
      50% {
        transform: rotate(190deg); 
      }
      100% {
        transform: rotate(0deg); 
      }
    }
    
    .text-container {
      width: 560px;
      overflow: hidden;
      height: 200px; /* Altura del texto visible */
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 30px;
    }
    
    .animated-text {
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
  
    .animated-text-style{
      font-size: 30px;
      font-weight: 400;
      font-family: Roboto Flex;
      line-height: 35px;
      text-align: left;
      margin-left: 6%;
    }
    /* Cambia el texto al mismo tiempo que gira la imagen */
    .text-animate {
      animation: slideText 1s ease-in-out; 
    }
    
    /* Animación de rotación */
    @keyframes slideText {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      /* Se mueve hacia arriba */
      50% {
        transform: translateY(50px);
        opacity: 0.5;
      }
      /* Regresa a la posición inicial */
      100% {
        transform: translateY(150px); 
        opacity: 0;
      }
    }
   
  }
   /* Pantallas de escritorio pequeñas (1281px - 1440px) */
  @media (min-width: 1281px) and (max-width: 1440px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 70%;
    }
    
    .content {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    
    .image-container {
      width: 300px;
      height: 300px;
      margin: auto;
    }
    
    .rotating-image {
      width: 100%;
      height: 100%;
      transform-origin: center;
      transition: transform 0.4s ease-in-out;
    }
  
    .image-container.animate .rotating-image {
      animation: swing 1s ease-in-out; 
    }
  
    @keyframes swing {
      0% {
        transform: rotate(0deg); 
      }
      /* Gira hacia un lado */
      50% {
        transform: rotate(190deg); 
      }
      100% {
        transform: rotate(0deg); 
      }
    }
    
    .text-container {
      width: 560px;
      overflow: hidden;
      height: 200px; /* Altura del texto visible */
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 30px;
    }
    
    .animated-text {
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
  
    .animated-text-style{
      font-size: 30px;
      font-weight: 400;
      font-family: Roboto Flex;
      line-height: 35px;
      text-align: left;
      margin-left: 6%;
    }
    /* Cambia el texto al mismo tiempo que gira la imagen */
    .text-animate {
      animation: slideText 1s ease-in-out; 
    }
    
    /* Animación de rotación */
    @keyframes slideText {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      /* Se mueve hacia arriba */
      50% {
        transform: translateY(50px);
        opacity: 0.5;
      }
      /* Regresa a la posición inicial */
      100% {
        transform: translateY(150px); 
        opacity: 0;
      }
    }
  }
 
  /* Pantallas de escritorio grandes  */
  @media (min-width: 1441px) and (max-width: 1920px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 70%;
    }
    
    .content {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    
    .image-container {
      width: 300px;
      height: 300px;
      margin: auto;
    }
    
    .rotating-image {
      width: 100%;
      height: 100%;
      transform-origin: center;
      transition: transform 0.4s ease-in-out;
    }
  
    .image-container.animate .rotating-image {
      animation: swing 1s ease-in-out; 
    }
  
    @keyframes swing {
      0% {
        transform: rotate(0deg); 
      }
      /* Gira hacia un lado */
      50% {
        transform: rotate(190deg); 
      }
      100% {
        transform: rotate(0deg); 
      }
    }
    
    .text-container {
      width: 560px;
      overflow: hidden;
      height: 200px; /* Altura del texto visible */
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 30px;
    }
    
    .animated-text {
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
  
    .animated-text-style{
      font-size: 28px;
      font-weight: 400;
      font-family: Roboto Flex;
      line-height: 35px;
      text-align: left;
      margin-left: 6%;
    }
    /* Cambia el texto al mismo tiempo que gira la imagen */
    .text-animate {
      animation: slideText 1s ease-in-out; 
    }
    
    /* Animación de rotación */
    @keyframes slideText {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      /* Se mueve hacia arriba */
      50% {
        transform: translateY(50px);
        opacity: 0.5;
      }
      /* Regresa a la posición inicial */
      100% {
        transform: translateY(150px); 
        opacity: 0;
      }
    }
  } 

  @media (min-width: 1921px) and (max-width: 2560px) {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 70%;
    }
    
    .content {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    
    .image-container {
      width: 400px;
      height: 400px;
      margin: auto;
    }
    
    .rotating-image {
      width: 100%;
      height: 100%;
      transform-origin: center;
      transition: transform 0.4s ease-in-out;
    }
  
    .image-container.animate .rotating-image {
      animation: swing 1s ease-in-out; 
    }
  
    @keyframes swing {
      0% {
        transform: rotate(0deg); 
      }
      /* Gira hacia un lado */
      50% {
        transform: rotate(190deg); 
      }
      100% {
        transform: rotate(0deg); 
      }
    }
    
    .text-container {
      width: 860px;
      overflow: hidden;
      height: 200px; /* Altura del texto visible */
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 30px;
    }
    
    .animated-text {
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
  
    .animated-text-style{
      font-size: 42px;
      font-weight: 400;
      font-family: Roboto Flex;
      line-height: 35px;
      text-align: left;
      margin-left: 6%;
    }
    /* Cambia el texto al mismo tiempo que gira la imagen */
    .text-animate {
      animation: slideText 1s ease-in-out; 
    }
    
    /* Animación de rotación */
    @keyframes slideText {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      /* Se mueve hacia arriba */
      50% {
        transform: translateY(50px);
        opacity: 0.5;
      }
      /* Regresa a la posición inicial */
      100% {
        transform: translateY(150px); 
        opacity: 0;
      }
    }
  }

 