.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 70%;
  }
  
  .content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .image-container {
    width: 100px;
    height: 100px;
  }
  
  .rotating-image {
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
  }

  .image-container.animate .rotating-image {
    animation: swing 1s ease-in-out; 
  }

  @keyframes swing {
    0% {
      transform: rotate(0deg); 
    }
    /* Gira hacia un lado */
    50% {
      transform: rotate(190deg); 
    }
    100% {
      transform: rotate(0deg); 
    }
  }
  
  .text-container {
    width: 230px;
    overflow: hidden;
    height: 200px; /* Altura del texto visible */
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
  }
  
  .animated-text {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: black;
  }

  .animated-text-style{
    font-size: 14px;
    font-family: Roboto Flex;
    line-height: 17px;
    text-align: left;
  }
  /* Cambia el texto al mismo tiempo que gira la imagen */
  .text-animate {
    animation: slideText 1s ease-in-out; 
  }
  
  /* Animación de rotación */
  @keyframes slideText {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    /* Se mueve hacia arriba */
    50% {
      transform: translateY(50px);
      opacity: 0.5;
    }
    /* Regresa a la posición inicial */
    100% {
      transform: translateY(150px); 
      opacity: 0;
    }
  }
  