.bg-transparent{
    background-color: transparent !important;
}

.text-link-color{
    color: #fff !important;
}

.dropdow-idioma{
    border-radius: 15px;
    border: 1px solid #fff;
    margin-left: 20%;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
}

.logo-nav{
    margin-right: 15%;
}

.links-nav{
    width: 100%;
}


/* Teléfonos  */
@media (min-width: 321px) and (max-width: 480px) {
    .logo-nav{
        margin-right: 10%;
        width: 70px;
    }

    .menu-burger{
        color: #fff !important;
        width: 60px;
    }

    .navbar-toggler-icon{
        color: #fff !important;
    }
    .dropdow-idioma{
        border-radius: 15px;
        border: 1px solid #fff;
        width: 25%;
        margin: 0;
        padding: 2px;
        margin-left: 8%;
    }
    .text-link-color{
        font-size: 18px;
    }
    .navbar{
        position: relative;
        z-index: 1050; 
      }
      
    .navbar-collapse{
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        z-index: 1040; 
        background-color: #ffffff;
        border: 2px solid rgba(255, 146, 64, 1);
        border-radius: 10px;
    }
    .nav-item-responsive{
        color: #0F298B !important;
        font-weight: 700;
        margin-left: 10%;
    }
    .navbar-toggler {
        background-color: #ffffff; 
        border-radius: 20px;
        padding: 5px;
        width: 50px;
        margin-right: 4%;
    }
    .container-icon-collapse-navbar-collapse{
        position: relative;
        height: 80px;
    }
    .icon-navbar-collapse{
        position: absolute;
        width: 50px;
        top: 0%;
        left: 75%;
    }
    .icon-navbar-collapse_2{
        position: absolute;
        width: 30px;
        top: 30%;
        left: 90%;
    }
    .icon-navbar-collapse_3{
        position: absolute;
        width: 30px;
        top: 70%;
        left: 82%;
    }
}
  
@media (min-width: 481px) and (max-width: 767px) {
    .logo-nav{
        margin-right: 10%;
        width: 70px;
    }

    .menu-burger{
        color: #fff !important;
        width: 60px;
    }

    .navbar-toggler-icon{
        color: #fff !important;
    }
    .dropdow-idioma{
        border-radius: 15px;
        border: 1px solid #fff;
        width: 25%;
        margin: 0;
        padding: 2px;
        margin-left: 8%;
    }
    .text-link-color{
        font-size: 20px;
    }
    .navbar{
        position: relative;
        z-index: 1050; 
      }
      
    .navbar-collapse{
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        z-index: 1040; 
        background-color: #ffffff;
        border: 2px solid rgba(255, 146, 64, 1);
        border-radius: 10px;
    }
    .nav-item-responsive{
        color: #0F298B !important;
        font-weight: 700;
        margin-left: 10%;
    }
    .navbar-toggler {
        background-color: #ffffff; 
        border-radius: 20px;
        padding: 5px;
        width: 50px;
        margin-right: 4%;
    }

    .container-icon-collapse-navbar-collapse{
        position: relative;
        height: 80px;
    }
    .icon-navbar-collapse{
        position: absolute;
        width: 50px;
        top: 0%;
        left: 80%;
    }
    .icon-navbar-collapse_2{
        position: absolute;
        width: 30px;
        top: 30%;
        left: 90%;
    }
    .icon-navbar-collapse_3{
        position: absolute;
        width: 30px;
        top: 70%;
        left: 86%;
    }
    
} 
  /* Tablets  */
@media (min-width: 768px) and (max-width: 1024px) {
    .logo-nav{
        margin-right: 10%;
        width: 70px;
    }
    .img-logo{
        width: 230px;
        margin-left: 60%;
    }

    .menu-burger{
        color: #fff !important;
        width: 60px;
    }

    .navbar-toggler-icon{
        color: #fff !important;
    }
    .dropdow-idioma{
        border-radius: 15px;
        border: 1px solid #fff;
        width: 20%;
        margin: 0;
        padding: 2px;
        margin-left: 4%;
    }
    .text-link-color{
        font-size: 20px;
    }
    .navbar{
        position: relative;
        z-index: 1050; 
    }
      
    .navbar-collapse{
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        z-index: 1040; 
        background-color: #ffffff;
        border: 2px solid rgba(255, 146, 64, 1);
        border-radius: 10px;
    }
    .nav-item-responsive{
        color: #0F298B !important;
        font-weight: 700;
        margin-left: 5%;
    }
    .navbar-toggler {
        background-color: #ffffff; 
        border-radius: 20px;
        padding: 5px;
        width: 50px;
        margin-right: 4%;
    }
    .container-icon-collapse-navbar-collapse{
        position: relative;
        height: 80px;
    }
    .icon-navbar-collapse{
        position: absolute;
        width: 50px;
        top: 0%;
        left: 85%;
    }
    .icon-navbar-collapse_2{
        position: absolute;
        width: 30px;
        top: 30%;
        left: 94%;
    }
    .icon-navbar-collapse_3{
        position: absolute;
        width: 30px;
        top: 70%;
        left: 90%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .bg-transparent{
        background-color: transparent !important;
    }
    
    .text-link-color{
        color: #fff !important;
        font-size: 15px;
    }
    
    .dropdow-idioma{
        border-radius: 15px;
        border: 1px solid #fff;
        margin-left: 8%;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 23.44px;
    }
    
    .logo-nav{
        margin-right: 10%;
    }
    
    .links-nav{
        width: 100%;
    }
    .img-navbar-collapse_pesponsive{
        display: none;
    }
    .text-idioma-color{
        color: rgba(1, 46, 139, 1);
        font-size: 15px;
    }

    
    
}

@media (min-width: 1441px) and (max-width: 1920px) {
    .bg-transparent{
        background-color: transparent !important;
    }
    
    .text-link-color{
        color: #fff !important;
        font-size: 22px;
    }
    
    .dropdow-idioma{
        border-radius: 15px;
        border: 1px solid #fff;
        margin-left: 12% !important;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        line-height: 23.44px;
    }
    
    .logo-nav{
        margin-right: 10%;
    }
    
    .links-nav{
        width: 100%;
    }
    .nav-item{
        margin-left: 12px;
    }
    
    .img-navbar-collapse_pesponsive{
        display: none;
    }
}

