.bg-transparent{
    background-color: transparent !important;
}

.text-link-color{
    color: #fff !important;
}

.dropdow-idioma{
    border-radius: 15px;
    border: 1px solid #fff;
    margin-left: 20%;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
}

.logo-nav{
    margin-right: 15%;
}

.links-nav{
    width: 100%;
}


/* Teléfonos  */
@media (min-width: 321px) and (max-width: 480px) {
    .logo-nav{
        margin-right: 10%;
        width: 70px;
    }

    .menu-burger{
        color: #fff !important;
        width: 60px;
    }

    .navbar-toggler-icon{
        color: #fff !important;
    }
    .dropdow-idioma{
        border-radius: 15px;
        border: 1px solid #fff;
        width: 20%;
        margin: 0;
        padding: 2px;
    }
    .text-link-color{
        font-size: 18px;
    }
    .navbar{
        position: relative;
        z-index: 1050; 
      }
      
    .navbar-collapse{
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        z-index: 1040; 
        background-color: #ffffffe1;
    }
    .nav-item-responsive{
        color: #0F298B !important;
        font-weight: 700;
    }
    .navbar-toggler {
        background-color: #ffffff; 
        border-radius: 20px;
        padding: 5px;
        width: 50px;
        margin-right: 4%;
    }
}
  
@media (min-width: 481px) and (max-width: 767px) {
    .logo-nav{
        margin-right: 10%;
        width: 70px;
    }

    .menu-burger{
        color: #fff !important;
        width: 60px;
    }

    .navbar-toggler-icon{
        color: #fff !important;
    }
    .dropdow-idioma{
        border-radius: 15px;
        border: 1px solid #fff;
        width: 20%;
        margin: 0;
        padding: 2px;
    }
    .text-link-color{
        font-size: 20px;
    }
    .navbar{
        position: relative;
        z-index: 1050; 
      }
      
    .navbar-collapse{
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        z-index: 1040; 
        background-color: #ffffffe1;
    }
    .nav-item-responsive{
        color: #0F298B !important;
        font-weight: 700;
    }
    .navbar-toggler {
        background-color: #ffffff; 
        border-radius: 20px;
        padding: 5px;
        width: 50px;
        margin-right: 4%;
    }
} 
  /* Tablets  */
@media (min-width: 768px) and (max-width: 1024px) {
    .logo-nav{
        margin-right: 10%;
        width: 70px;
    }
    .img-logo{
        width: 230px;
        margin-left: 60%;
    }

    .menu-burger{
        color: #fff !important;
        width: 60px;
    }

    .navbar-toggler-icon{
        color: #fff !important;
    }
    .dropdow-idioma{
        border-radius: 15px;
        border: 1px solid #fff;
        width: 20%;
        margin: 0;
        padding: 2px;
    }
    .text-link-color{
        font-size: 20px;
    }
    .navbar{
        position: relative;
        z-index: 1050; 
    }
      
    .navbar-collapse{
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        z-index: 1040; 
        background-color: #ffffffe1;
    }
    .nav-item-responsive{
        color: #0F298B !important;
        font-weight: 700;
    }
    .navbar-toggler {
        background-color: #ffffff; 
        border-radius: 20px;
        padding: 5px;
        width: 50px;
        margin-right: 4%;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .bg-transparent{
        background-color: transparent !important;
    }
    
    .text-link-color{
        color: #fff !important;
    }
    
    .dropdow-idioma{
        border-radius: 15px;
        border: 1px solid #fff;
        margin-left: 20%;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 23.44px;
    }
    
    .logo-nav{
        margin-right: 15%;
    }
    
    .links-nav{
        width: 100%;
    }
}

