.footer{
    background-image: url("/rectagle-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.container-item-footer{
    margin-top: 20%;
}

.logo-div{
    margin-right: 10%;
}

.logo-social{
    background-color: rgba(128, 128, 128, 0.151);
    border-radius: 50%;
    padding: 4px;
    margin-right: 30px;
}

.container-item-footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10%;
    gap: 10px;
}

.title-footer{
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.text-footer-links{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.nav-footer{
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 50px

}
.container-item-res-mobile{
    display: none;
}

.bg-link{
background-color: transparent !important;
}

/* Teléfonos  */
@media (min-width: 321px) and (max-width: 480px) {
    .footer{
        height: 200px;
        display: flex;
        flex-direction: row;
        width: 100vw;
    }
    .container-res-hidden{
        display: none;
    }
    .container-item-footer{
        margin-top: 18%;
        margin-left: 2%;
    }
    
    .logo-div{
        margin-right: 10%;
    }
    .logo-footer{
        width: 200px;
    }
    
    .container-res-hidden{
        display: none;
    }
    .container-item-res-mobile{
        display: block;
        display: flex;
        flex-direction: column;
        margin-top: 17%;
    }
    .container-item-res-mobile_item{
        display: none;
        
    }
    .bg-link{
        background-color: transparent !important;
        border: none;
        color: #ffffff;
    }
    .bg-link-select{
        color: black;
    }
    .custom-select option {
        background-color: white; 
        color: black; 
        border: none;
    }
    .link-nav-footer{
        text-decoration: none;
        color: black;
        margin-left: 5%;
        margin-top: 6px;
    }
    .logo-social-footer{
        background-color: #0F298B;
        border-radius: 50%;
        padding: 4px;
        margin-right: 30px;
    }
    .list-nav-footer{
        margin-top: 4px;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
  /* Estilos para teléfonos grandes o phablets */
    .footer{
        height: 200px;
        display: flex;
        flex-direction: row;
        width: 100vw;
    }
    .container-res-hidden{
        display: none;
    }

    .container-res-hidden{
        display: none;
    }

    .container-item-footer{
        margin-top: 15%;
        margin-left: 5%;
    }
    .logo-footer{
        width: 230px;
    }
    .logo-div{
        margin-right: 10%;
    }
    .container-item-res-mobile{
        display: block;
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        margin-left: 12%;
    }
    .container-item-res-mobile_item{
        display: none;
        
    }
    .bg-link{
        background-color: transparent !important;
        border: none;
        color: #ffffff;
    }
    .bg-link-select{
        color: black;
    }
    .custom-select option {
        background-color: white; 
        color: black; 
        border: none;
    }
    .link-nav-footer{
        text-decoration: none;
        color: black;
        margin-left: 5%;
        margin-top: 6px;
    }
    .logo-social-footer{
        background-color: #0F298B;
        border-radius: 50%;
        padding: 4px;
        margin-right: 30px;
    }
    .list-nav-footer{
        margin-top: 4px;
    }
}

/* Tablets  */
@media (min-width: 768px) and (max-width: 1024px) {
    .footer{
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .logo-div{
        margin-right: 0%;
    }
    
    .logo-social{
        background-color: rgba(128, 128, 128, 0.151);
        border-radius: 50%;
        padding: 4px;
        margin-right: 30px;
    }
    
    .container-item-footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 2%;
        margin-top: 14%;
        gap: 5px;
    }

    .logo-footer{
        width: 220px;
        margin-left: 6%;
    }

    .title-footer{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        color: white;
    }
    
    .text-footer-links{
        font-family: Roboto;
        font-size: 12px;
        font-weight: 300;
        color: white;
        text-decoration: none;
    }
    
    .nav-footer{
        display: flex;
        flex-direction: row;
        margin: 2px 0 0 25px
    
    }
    .container-item-res-mobile{
        display: none;
    }
    
    .bg-link{
    background-color: transparent !important;
    }
    
}

/* Pantallas de escritorio */
@media (min-width: 1025px) and (max-width: 1280px) {
    .footer{
        background-image: url("/rectagle-footer.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: row;
    }
    
    .container-item-footer{
        margin-top: 16%;
        margin-left: 5% !important;
    }
    
    .logo-div{
        margin-right: 15%;
    }
    
    .logo-social{
        background-color: rgba(128, 128, 128, 0.151);
        border-radius: 50%;
        padding: 4px;
        margin-right: 30px;
    }
    
    .container-item-footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 10%;
        gap: 8px;
    }
    
    .title-footer{
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        color: white;
    }
    
    .text-footer-links{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        color: white;
        text-decoration: none;
    }
    
    .nav-footer{
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 40px
    
    }
    .container-item-res-mobile{
        display: none;
    }
    
    .bg-link{
    background-color: transparent !important;
    }
 
}

 /* Pantallas de escritorio pequeñas  */
@media (min-width: 1281px) and (max-width: 1440px) {
    .footer{
        background-image: url("/rectagle-footer.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: row;
    }
    
    .container-item-footer{
        margin-top: 14%;
        margin-left: 5% !important;
    }
    
    .logo-div{
        margin-right: 20%;
    }
    
    .logo-social{
        background-color: rgba(128, 128, 128, 0.151);
        border-radius: 50%;
        padding: 4px;
        margin-right: 50px;
    }
    
    .container-item-footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 10%;
        gap: 8px;
    }
    
    .title-footer{
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        color: white;
    }
    
    .text-footer-links{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        color: white;
        text-decoration: none;
    }
    
    .nav-footer{
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 40px
    
    }
    .container-item-res-mobile{
        display: none;
    }
    
    .bg-link{
        background-color: transparent !important;
    }
}
 
  /* Pantallas de escritorio grandes  */
@media (min-width: 1441px) and (max-width: 1920px) {
    .footer{
        background-image: url("/rectagle-footer.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 440px;
        display: flex;
        flex-direction: row;
    }
    
    .container-item-footer{
        margin-top: 13%;
        margin-left: 5% !important;
    }
    .logo-footer{
        width: 280px;
        margin-left: 10%;
    }
    .logo-div{
        margin-right: 21%;
    }
    
    .logo-social{
        background-color: rgba(128, 128, 128, 0.151);
        border-radius: 50%;
        padding: 4px;
        margin-right: 50px;
    }
    
    .container-item-footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 15%;
        gap: 2px;
    }
    
    .title-footer{
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        color: white;
    }
    
    .text-footer-links{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        color: white;
        text-decoration: none;
    }
    
    .nav-footer{
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 40px
    
    }
    .container-item-res-mobile{
        display: none;
    }
    
    .bg-link{
        background-color: transparent !important;
    }

    .container-item-footer_soporte{
        margin-right: 12%;
    }
   
 } 
 @media (min-width: 1921px) and (max-width: 2560px) {
    .footer{
        background-image: url("/rectagle-footer.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 540px;
        display: flex;
        flex-direction: row;
    }
    
    .container-item-footer{
        margin-top: 13%;
        margin-left: 5% !important;
    }
    .logo-footer{
        width: 280px;
        margin-left: 10%;
    }
    .logo-div{
        margin-right: 21%;
    }
    
    .logo-social{
        background-color: rgba(128, 128, 128, 0.151);
        border-radius: 50%;
        padding: 4px;
        margin-right: 50px;
    }
    
    .container-item-footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 15%;
        gap: 2px;
    }
    
    .title-footer{
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        color: white;
    }
    
    .text-footer-links{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        color: white;
        text-decoration: none;
    }
    
    .nav-footer{
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 40px
    
    }
    .container-item-res-mobile{
        display: none;
    }
    
    .bg-link{
        background-color: transparent !important;
    }

    .container-item-footer_soporte{
        margin-right: 12%;
    }
 }