.hero-section{
    background-image: url('/rectangle.png');
    margin: 0%;
    padding: 0%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 10%;
}

.nav-bar{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav-bar_link{
    font-family: Roboto;
    text-decoration: none;
    color: #ffffff;
    margin-left: 1.8rem;
    font-size: 20px;
}

.img-logo{
    margin-right: 6%;
}

.select-lang{
    margin-left: 5%;
    background-color: transparent;
    color: #ffffff;
    border-radius: 6px;
    font-size: 20px;
    padding: 3px;
    border-color: #ffffff;
}

.hero-section-content{
    display: flex;
    margin: 0 0 0 12%;
}

.hero-section_title{
    font-family: Sarpanch;
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 12%;
}

.hero-section_subtitle{
    font-family: Roboto Flex;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 12%;
}

.button-hero-section{
    font-family: Roboto Flex;
    font-size: 25px;
    font-weight: 600;
    line-height: 29.3px;
    text-align: left;
    background-color: #E05330;
    color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    border: none;
}

.hero-section_img{
    margin-left: 12%;
}

.hero-section_img-1{
    width: 90%;
}

.hero-content-two{
    margin-top: 35px;
    margin-left: 12%;
}
.tiitle-two{
    color: #0F298B;
    font-family: Space Grotesk;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.subtiitle-two{
    font-family: Space Grotesk;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12%;
}

.ofert-container{
    width: 90%;
    display: flex;
    align-items: center;
}

.frame-1{
    width: 364px;
    height: 336px;
}

.text-frame{
    width: 649px;
    font-family: Roboto Flex;
    font-weight: 400;
    font-size: 30px;
    margin-left: 5%;
}
.hero-section_img-responsive{
    display: none;
}

/* Teléfonos */
@media (min-width: 321px) and (max-width: 480px) {
    .hero-section{
        height: 620px;
        margin-bottom: 26%;
    }
    
    .nav-bar{
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    
    .nav-bar_link{
        font-family: Roboto;
        text-decoration: none;
        color: #ffffff;
        margin-left: 1.8rem;
        font-size: 20px;
    }
    
    .img-logo{
        margin-left: 25%;
        width: 200px;
    }
    
    .select-lang{
        margin-left: 5%;
        background-color: transparent;
        color: #ffffff;
        border-radius: 6px;
        font-size: 20px;
        padding: 3px;
        border-color: #ffffff;
    }
    
    .hero-section-content{
        display: flex;
        margin: auto;
    }
    
    .hero-section_title{
        font-size: 20px;
        line-height: 28px;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    
    .hero-section_subtitle{
        font-size: 14px;
        line-height: 16px;
        margin-top: 10%;
        margin-bottom: 30%;
    }
    
    .button-hero-section{
        font-size: 14px;
        line-height: 16px;
        padding: 12px;
        text-decoration: none;
    }
    
    .hero-section_img{
        margin-left: 5%;
        object-fit: cover;
    }
    
    .hero-section_img-1{
        display: none;
    }
    .hero-section_img-responsive{
        display: block;
        margin: 0 0 0px 25px;
        width: 80%;
        margin-right: 100px;
    }   
    
    .hero-content-two{
        margin-top: 20%;
        margin-left: 12%;
    }
    .tiitle-two{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
    .subtiitle-two{
        font-size: 16px;
        text-align: center;
        margin-bottom: 0%;
    }
    
    .carousel{
        margin-bottom: 5%;
    }
    
    .frame-1{
        width: 80px;
        height: 100px;
    }
    
    .text-frame{
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin: 0;
        padding: 20px;
    }

    .frame-container-img{
        width: 250px;
        padding: 10px;
        margin-left: 8%;
    }
    .elements-hero-section{
        margin-left: 10%;
    }
    .ofert-container{
        width: 100%;
        display: flex;
        align-items: center;
        margin: auto;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .hero-section{
        height: 620px;
        margin-bottom: 26%;
    }

    .nav-bar{
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .nav-bar_link{
        font-family: Roboto;
        text-decoration: none;
        color: #ffffff;
        margin-left: 1.8rem;
        font-size: 20px;
    }

    .img-logo{
        margin-left: 25%;
        width: 200px;
    }

    .select-lang{
        margin-left: 5%;
        background-color: transparent;
        color: #ffffff;
        border-radius: 6px;
        font-size: 20px;
        padding: 3px;
        border-color: #ffffff;
    }

    .hero-section-content{
        display: flex;
        margin: auto;
    }

    .hero-section_title{
        font-size: 25px;
        line-height: 30px;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .hero-section_subtitle{
        font-size: 18px;
        line-height: 22px;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .button-hero-section{
        font-size: 18px;
        line-height: 16px;
        padding: 14px;
        text-decoration: none;
    }

    .hero-section_img{
        margin-left: 10%;
    }

    .hero-section_img-1{
        display: none;
    }
    .hero-section_img-responsive{
        display: block;
        margin: 0 0 0px 25px;

    }   

    .hero-content-two{
        margin-top: 20%;
        margin-left: 12%;
    }
    .tiitle-two{
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    .subtiitle-two{
        font-size: 20px;
        text-align: center;
        margin-bottom: 0%;
    }

    .carousel{
        margin-bottom: 5%;
    }

    .frame-1{
        width: 80px;
        height: 100px;
    }

    .text-frame{
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin: 0;
        padding: 20px;
    }

    .frame-container-img{
        width: 250px;
        padding: 10px;
        margin-left: 8%;
    }
    .elements-hero-section{
        margin-left: 10%;
    }
    .ofert-container{
        width: 90%;
        display: flex;
        align-items: center;
        margin: auto;
    }
}

/* Tablets  */
@media (min-width: 768px) and (max-width: 1024px) {
    .hero-section{
        height: 620px;
        margin-bottom: 26%;
    }

    .nav-bar{
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .nav-bar_link{
        font-family: Roboto;
        text-decoration: none;
        color: #ffffff;
        margin-left: 1.8rem;
        font-size: 20px;
    }

    .img-logo{
        margin-left: 25%;
        width: 200px;
    }

    .select-lang{
        margin-left: 5%;
        background-color: transparent;
        color: #ffffff;
        border-radius: 6px;
        font-size: 20px;
        padding: 3px;
        border-color: #ffffff;
    }

    .hero-section-content{
        display: flex;
        margin: auto;
    }

    .hero-section_title{
        font-size: 38px;
        line-height: 53px;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .hero-section_subtitle{
        font-size: 25px;
        line-height: 30px;
        margin-top: 5%;
        margin-bottom: 12%;
    }

    .button-hero-section{
        font-size: 20px;
        line-height: 16px;
        padding: 14px;
        text-decoration: none;
    }

    .hero-section_img{
        margin-left: 5%;
    }

    .hero-section_img-1{
        display: block;
        width: 290px;
        height: 320px;
    }
    .hero-section_img-responsive{
        display: none;
    }   

    .hero-content-two{
        margin-top: 10%;
        margin-left: 12%;
    }
    .tiitle-two{
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }
    .subtiitle-two{
        font-size: 30px;
        text-align: center;
        margin-bottom: 0%;
    }

    .carousel{
        margin-bottom: 5%;
    }

    .frame-1{
        width: 80px;
        height: 100px;
    }

    .text-frame{
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin: 0;
        padding: 20px;
    }

    .frame-container-img{
        width: 250px;
        padding: 10px;
        margin-left: 8%;
    }
    .elements-hero-section{
        margin-left: 10%;
    }
    .ofert-container{
        width: 90%;
        display: flex;
        align-items: center;
        margin: auto;
    }
}

/* Pantallas de escritorio  */
@media (min-width: 1024px) and (max-width: 1280px) {
    .hero-section{
        height: 620px;
        margin-bottom: 26%;
    }

    .nav-bar{
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .nav-bar_link{
        font-family: Roboto;
        text-decoration: none;
        color: #ffffff;
        margin-left: 1.8rem;
        font-size: 20px;
    }

    .img-logo{
        margin-left: 25%;
        width: 200px;
    }

    .select-lang{
        margin-left: 5%;
        background-color: transparent;
        color: #ffffff;
        border-radius: 6px;
        font-size: 20px;
        padding: 3px;
        border-color: #ffffff;
    }

    .hero-section-content{
        display: flex;
        margin: 2% 0 0 0;
    }

    .hero-section_title{
        width: 80%;
        font-size: 45px;
        line-height: 53px;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .hero-section_subtitle{
        font-size: 30px;
        line-height: 30px;
        margin-top: 5%;
        margin-bottom: 12%;
    }

    .button-hero-section{
        font-size: 24px;
        line-height: 16px;
        padding: 14px;
        text-decoration: none;
    }

    .hero-section_img{
        margin-right: 2%;
    }

    .hero-section_img-1{
        display: block;
        width: 390px;
        height: 380px;
        margin-left: 0%;
    }
    .hero-section_img-responsive{
        display: none;
    }   

    .hero-content-two{
        margin-top: 10%;
        margin-left: 12%;
    }
    .tiitle-two{
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }
    .subtiitle-two{
        font-size: 32px;
        text-align: center;
        margin-bottom: 0%;
    }

    .carousel{
        margin-bottom: 5%;
    }

    .frame-1{
        width: 80px;
        height: 100px;
    }

    .text-frame{
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin: 0;
        padding: 20px;
    }

    .frame-container-img{
        width: 250px;
        padding: 10px;
        margin-left: 8%;
    }
    .elements-hero-section{
        margin-left: 6%;
    }
    .ofert-container{
        width: 80%;
        display: flex;
        align-items: center;
        margin: 5% 15% 5% 15%;
    }
}

 /* Pantallas de escritorio pequeñas (1281px - 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
    .hero-section{
        height: 620px;
        margin-bottom: 26%;
    }

    .nav-bar{
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .nav-bar_link{
        font-family: Roboto;
        text-decoration: none;
        color: #ffffff;
        margin-left: 1.8rem;
        font-size: 20px;
    }

    .img-logo{
        margin-left: 25%;
        width: 290px;
    }

    .select-lang{
        margin-left: 5%;
        background-color: transparent;
        color: #ffffff;
        border-radius: 6px;
        font-size: 20px;
        padding: 3px;
        border-color: #ffffff;
    }

    .hero-section-content{
        display: flex;
        margin: 2% 0 0 0;
    }

    .hero-section_title{
        font-size: 50px;
        line-height: 53px;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .hero-section_subtitle{
        font-size: 30px;
        line-height: 30px;
        margin-top: 5%;
        margin-bottom: 12%;
    }

    .button-hero-section{
        font-size: 24px;
        line-height: 16px;
        padding: 14px;
        text-decoration: none;
    }

    .hero-section_img{
        margin-left: 15%;
    }

    .hero-section_img-1{
        display: block;
        width: 420px;
        height: 400px;
    }
    .hero-section_img-responsive{
        display: none;
    }   

    .hero-content-two{
        margin-top: 12%;
        margin-left: 12%;
    }
    .tiitle-two{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
    .subtiitle-two{
        font-size: 35px;
        text-align: center;
        margin-bottom: 0%;
    }

    .carousel{
        margin-bottom: 5%;
    }

    .frame-1{
        width: 80px;
        height: 100px;
    }

    .text-frame{
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin: 0;
        padding: 20px;
    }

    .frame-container-img{
        width: 250px;
        padding: 10px;
        margin-left: 8%;
    }
    .elements-hero-section{
        margin-left: 10%;
    }
    .ofert-container{
        width: 80%;
        display: flex;
        align-items: center;
        margin: 5% 15% 5% 15%;
    }
}
 
  /* Pantallas de escritorio grandes (1441px - 1920px) */
@media (min-width: 1441px) and (max-width: 1920px) {
    .hero-section{
        height: 720px;
        margin-bottom: 26%;
    }

    .nav-bar{
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .nav-bar_link{
        font-family: Roboto;
        text-decoration: none;
        color: #ffffff;
        margin-left: 1.8rem;
        font-size: 20px;
    }

    .img-logo{
        margin-left: 25%;
        width: 290px;
    }

    .select-lang{
        margin-left: 5%;
        background-color: transparent;
        color: #ffffff;
        border-radius: 6px;
        font-size: 20px;
        padding: 3px;
        border-color: #ffffff;
    }

    .hero-section-content{
        display: flex;
        margin: 2% 0 0 0;
    }

    .hero-section_title{
        font-size: 50px;
        line-height: 53px;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .hero-section_subtitle{
        font-size: 30px;
        line-height: 30px;
        margin-top: 5%;
        margin-bottom: 12%;
    }

    .button-hero-section{
        font-size: 24px;
        line-height: 16px;
        padding: 14px;
        text-decoration: none;
    }

    .hero-section_img{
        margin-left: 12%;
    }

    .hero-section_img-1{
        display: block;
        width: 420px;
        height: 400px;
    }
    .hero-section_img-responsive{
        display: none;
    }   

    .hero-content-two{
        margin-top: 8%;
        margin-left: 8%;
    }
    .tiitle-two{
        font-size: 45px;
        font-weight: 800;
        text-align: center;
    }
    .subtiitle-two{
        font-size: 38px;
        text-align: center;
        margin-bottom: 0%;
    }

    .carousel{
        margin-bottom: 5%;
    }

    .frame-1{
        width: 80px;
        height: 100px;
    }

    .text-frame{
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin: 0;
        padding: 20px;
    }

    .frame-container-img{
        width: 250px;
        padding: 10px;
        margin-left: 8%;
    }
    .elements-hero-section{
        margin-left: 7.5%;
    }
    .ofert-container{
        width: 80%;
        display: flex;
        align-items: center;
        margin: 5% 12% 5% 12%;
    }
} 

@media (min-width: 1921px) and (max-width: 2560px) {
    .hero-section{
        height: 720px;
        margin-bottom: 26%;
    }

    .nav-bar{
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .nav-bar_link{
        font-family: Roboto;
        text-decoration: none;
        color: #ffffff;
        margin-left: 1.8rem;
        font-size: 35px;
    }

    .img-logo{
        margin-left: 25%;
        width: 420px;
    }

    .select-lang{
        margin-left: 5%;
        background-color: transparent;
        color: #ffffff;
        border-radius: 6px;
        font-size: 20px;
        padding: 3px;
        border-color: #ffffff;
    }

    .hero-section-content{
        display: flex;
        margin: 2% 0 0 0;
    }

    .hero-section_title{
        font-size: 58px;
        font-weight: bold;
        line-height: 53px;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .hero-section_subtitle{
        font-size: 46px;
        line-height: 30px;
        margin-top: 5%;
        margin-bottom: 12%;
    }

    .button-hero-section{
        font-size: 32px;
        line-height: 16px;
        padding: 16px;
        text-decoration: none;
    }

    .hero-section_img{
        margin-left: 14%;
    }

    .hero-section_img-1{
        display: block;
        width: 520px;
        height: 500px;
    }
    .hero-section_img-responsive{
        display: none;
    }   

    .hero-content-two{
        margin-top: 2%;
        margin-left: 8%;
    }
    .tiitle-two{
        font-size: 55px;
        font-weight: 800;
        text-align: center;
    }
    .subtiitle-two{
        font-size: 42px;
        text-align: center;
        margin-bottom: 0%;
    }

    .carousel{
        margin-bottom: 5%;
    }

    .frame-1{
        width: 80px;
        height: 100px;
    }

    .text-frame{
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin: 0;
        padding: 20px;
    }

    .frame-container-img{
        width: 250px;
        padding: 10px;
        margin-left: 8%;
    }
    .elements-hero-section{
        margin-left: 10%;
    }
    .ofert-container{
        width: 80%;
        display: flex;
        align-items: center;
        margin: 5% 12% 5% 12%;
    }
}
