.work-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.work-section-text-container{
    width: 700px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-title{
    font-family: Space Grotesk;
    font-size: 40px;
    font-weight: 700;
    line-height: 51.04px;
    text-align: left;
    margin-bottom: 10%;

}

.work-section-text{
    font-family: Roboto Flex;
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    text-align: left;
    margin-bottom: 10%;
}

.sumate{
    color: #E95B37;
    font-family: Space Grotesk;
    font-size: 40px;
    font-weight: 700;
    line-height: 51.04px;
    text-align: left;
    margin-bottom: 10%;
    text-align: left;

}

.button-work-with-us{
    font-family: Roboto Flex;
    font-size: 25px;
    font-weight: 600;
    line-height: 29.3px;
    text-align: left;
    background-color: #E05330;
    color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    border: none;
    margin-bottom: 20%;
}

.work-img{
    margin-left: 4%;
}

.work-section-responsive{
    display: none;
}

@media (min-width: 321px) and (max-width: 480px) {
    .work-title{
        display: none;
    }
    .work-section-text_responsive-none{
        display: none;
    }
    .work-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0%;
    }
    .work-section-text{
        font-family: Roboto Flex;
        font-size: 30px;
        font-weight: 500;
        line-height: 35.16px;
        text-align: left;
        margin-bottom: 10%;
    }
    .work-section_img{
        display: none;
    }
    .work-section_img-responsive{
        width: 215px;
        padding: 4px;
    }
    .work-section-responsive{
        display: block;
        margin-left: 5%;
        margin-top: 12%;
    }
    .work-section-text_responsive-title{
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        margin-top: 35px;
    }
    .work-section-text_responsive-subtitle{
        width: 320px;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        line-height: 20px;
    }
    .work-section-text{
        width: 190px;
        font-size: 14px;
        line-height: 18px;
    }
    .sumate{
        width: 190px;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        margin-bottom: 10%;
        text-align: left;
    }
    .button-work-with-us{
        font-size: 16px;
        font-weight: 600;
        line-height: 15.3px;
        padding: 15px;
        margin-bottom: 20%;
        margin-right: 32%;
    }
    .modal-title-cv{
        text-align: center;
        margin-bottom: 40px;
    }
    .modal-text{
        color: rgba(67, 66, 66, 1);
        margin-right: 25%;
        font-size: 14px;
    }
    .container-modal-img{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 12%;
      
    }
    .button-work-with-us_modal{
        font-family: Roboto Flex;
        font-size: 16px;
        font-weight: 600;
        background-color: #E05330;
        color: #ffffff;
        border-radius: 12px;
        padding: 15px 35px 15px 35px;
        border: none;
        margin-bottom: 8%;
    }
    .container-button-modal{
        display: flex;
        justify-content: center;
    }
    .modal-text-adj{
        font-size: 16px;
        font-weight: 600;
        color: rgba(30, 57, 141, 1);
    }
    .modal-img{
        width: 45px;
        height: 45px;
        margin-bottom: 40px;
    }
    
    
}

/* Teléfonos grandes (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* Estilos para teléfonos grandes o phablets */
  .work-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        width: 100%;
    }
    .work-section-text{
        font-family: Roboto Flex;
        font-size: 14px;
        font-weight: 500;
        line-height: 35.16px;
        text-align: left;
        margin-bottom: 10%;
    }
    .work-section_img{
        width: 300px;
    }

}

/* Tablets en orientación vertical (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para tablets en orientación vertical */
}

/* Tablets en orientación horizontal (1025px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Estilos para tablets en orientación horizontal o laptops pequeñas */

}

/* Pantallas de escritorio pequeñas (1281px - 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
  /* Estilos para pantallas de escritorio pequeñas */
 
}
