.work-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.work-section-text-container{
    width: 700px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-title{
    font-family: Space Grotesk;
    font-size: 40px;
    font-weight: 700;
    line-height: 51.04px;
    text-align: left;
    margin-bottom: 10%;

}

.work-section-text{
    font-family: Roboto Flex;
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    text-align: left;
    margin-bottom: 10%;
}

.sumate{
    color: #E95B37;
    font-family: Space Grotesk;
    font-size: 40px;
    font-weight: 700;
    line-height: 51.04px;
    text-align: left;
    margin-bottom: 10%;
    text-align: left;
}

.button-work-with-us{
    font-family: Roboto Flex;
    font-size: 25px;
    font-weight: 600;
    line-height: 29.3px;
    text-align: left;
    background-color: #E05330;
    color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    border: none;
    margin-bottom: 20%;
}

.work-img{
    margin-left: 4%;
}

.work-section-responsive{
    display: none;
}

/* Teléfonos  */
@media (min-width: 321px) and (max-width: 480px) {
    .work-title{
        display: none;
    }
    .work-section-text_responsive-none{
        display: none;
    }
    .work-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0%;
    }
    .work-section-text{
        font-family: Roboto Flex;
        font-size: 30px;
        font-weight: 500;
        line-height: 35.16px;
        text-align: left;
        margin-bottom: 10%;
    }
    .work-section_img{
        display: none;
    }
    .work-section_img-responsive{
        width: 215px;
        padding: 4px;
    }
    .work-section-responsive{
        display: block;
        margin-left: 5%;
        margin-top: 12%;
    }
    .work-section-text_responsive-title{
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        margin-top: 35px;
    }
    .work-section-text_responsive-subtitle{
        width: 320px;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        line-height: 20px;
    }
    .work-section-text{
        width: 190px;
        font-size: 14px;
        line-height: 18px;
    }
    .sumate{
        width: 190px;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        margin-bottom: 10%;
        text-align: left;
    }
    .button-work-with-us{
        font-size: 16px;
        font-weight: 600;
        line-height: 15.3px;
        padding: 15px;
        margin-bottom: 20%;
        margin-right: 32%;
    }

    /* MODAL CV */
    .modal-title-cv{
        text-align: center;
        margin-bottom: 40px;
    }
    .modal-text{
        color: rgba(67, 66, 66, 1);
        margin-right: 25%;
        font-size: 14px;
    }
    .container-modal-img{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 12%;
      
    }
    .button-work-with-us_modal{
        font-family: Roboto Flex;
        font-size: 16px;
        font-weight: 600;
        background-color: #E05330;
        color: #ffffff;
        border-radius: 12px;
        padding: 15px 35px 15px 35px;
        border: none;
        margin-bottom: 8%;
    }
    .container-button-modal{
        display: flex;
        justify-content: center;
    }
    .modal-text-adj{
        font-size: 16px;
        font-weight: 600;
        color: rgba(30, 57, 141, 1);
    }
    .modal-img{
        width: 45px;
        height: 45px;
        margin-bottom: 40px;
    }
    /* adjntar */
    .container-modal-img{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 12%;
        margin-bottom: 8%;
      
    }
    .transparent-file-input {
        display: none;  
      }
    .custom-file-label{
        background-color: transparent; 
        color: #777;                   
        border: 2px #777;        
        padding: 10px 20px;             
        cursor: pointer;               
        font-size: 16px;                
        text-align: left; 
        margin: 0;
    }
    .custom-file-label:hover {
        opacity: 0.8;                   
    }
    .input-modal_cv{
        width: 280px;
        margin-left: 12%;
        margin-bottom: 4%;
    }
    .label-modal_cv{
        margin-left: 12%;
        margin-bottom: 4%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .work-title{
        display: none;
    }
    .work-section-text_responsive-none{
        display: none;
    }
    .work-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0%;
    }
    .work-section-text{
        font-family: Roboto Flex;
        font-size: 30px;
        font-weight: 500;
        line-height: 35.16px;
        text-align: left;
        margin-bottom: 10%;
    }
    .work-img{
        margin-left: 0%;
        margin-right: 5%;
    }
    .work-section_img{
        display: none;
    }
    .work-section_img-responsive{
        width: 215px;
        padding: 4px;
        margin-left: 0%;
    }
    .work-section-responsive{
        display: block;
        margin-left: 5%;
        margin-top: 12%;
    }
    .work-section-text_responsive-title{
        font-size: 28px;
        font-weight: 700;
        text-align: left;
        margin-top: 35px;
    }
    .work-section-text_responsive-subtitle{
        width: 420px;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        line-height: 20px;
    }
    .work-section-text-container{
        width: 700px;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .work-section-text{
        width: 260px;
        font-size: 18px;
        line-height: 18px;
        margin-left: 10%;
    }
    .sumate{
        width: 190px;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        margin-bottom: 10%;
        text-align: left;
        margin-left: 10%;
    }
    .button-work-with-us{
        font-size: 18px;
        font-weight: 600;
        line-height: 15.3px;
        padding: 18px;
        margin-bottom: 20%;
        margin-right: 32%;
        margin-left: 10%;
    }
    .modal-title-cv{
        text-align: center;
        margin-bottom: 40px;
    }
    .modal-text{
        color: rgba(67, 66, 66, 1);
        margin-right: 25%;
        font-size: 14px;
    }
    .container-modal-img{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 12%;
      
    }
    .button-work-with-us_modal{
        font-family: Roboto Flex;
        font-size: 16px;
        font-weight: 600;
        background-color: #E05330;
        color: #ffffff;
        border-radius: 12px;
        padding: 15px 35px 15px 35px;
        border: none;
        margin-bottom: 8%;
    }
    .container-button-modal{
        display: flex;
        justify-content: center;
    }
    .modal-text-adj{
        font-size: 16px;
        font-weight: 600;
        color: rgba(30, 57, 141, 1);
    }
    .modal-img{
        width: 45px;
        height: 45px;
        margin-bottom: 0px;
    }
    /* adjntar */
    .container-modal-img{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 12%;
        margin-bottom: 8%;
      
    }
    .transparent-file-input {
        display: none;  
      }
    .custom-file-label{
        background-color: transparent; 
        color: #777;                   
        border: 2px #777;        
        padding: 10px 20px;             
        cursor: pointer;               
        font-size: 16px;                
        text-align: left; 
        margin: 0;
    }
    .custom-file-label:hover {
        opacity: 0.8;                   
    }
    .input-modal_cv{
        width: 350px;
        margin-left: 12%;
        margin-bottom: 4%;
    }
    .label-modal_cv{
        margin-left: 12%;
        margin-bottom: 4%;
    }
}

/* Tablets  */
@media (min-width: 768px) and (max-width: 1024px) {
    .work-title{
        display: none;
    }
    .work-section-text_responsive-none{
        display: block;     
    }
    .work-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0%;
    }
    .work-section-text{
        width: 350px !important;
        font-family: Roboto Flex;
        font-size: 30px;
        font-weight: 500;
        line-height: 22px !important;
        text-align: left;
        margin-bottom: 10%;
    }
    .work-img{
        margin-left: 0%;
        margin-right: 5%;
    }
    .work-section_img{
        display: block;
        width: 260px;
        height: 400px;
    }
    .work-section_img-responsive{
        display: none;
    }
    .work-section-responsive{
        display: block;
        margin-left: 5%;
        margin-top: 12%;
    }
    .work-section-text_responsive-title{
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .work-section-text_responsive-subtitle{
        display: none;
    }
    .work-section-text-container{
        width: 700px;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .work-section-text{
        width: 260px;
        font-size: 18px;
        line-height: 18px;
        margin-left: 10%;
    }
    .sumate{
        width: 200px;
        font-size: 22px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        margin-bottom: 10%;
        text-align: left;
        margin-left: 10%;
    }
    .button-work-with-us{
        font-size: 20px;
        font-weight: 600;
        line-height: 18px;
        padding: 18px;
        margin-bottom: 0%;
        margin-right: 32%;
        margin-left: 10%;
    }

    /* MODAL CV */
    .modal-title-cv{
        text-align: center;
        margin-bottom: 40px;
    }
    .modal-text{
        color: rgba(67, 66, 66, 1);
        margin-right: 25%;
        font-size: 14px;
    }
    
    .button-work-with-us_modal{
        font-family: Roboto Flex;
        font-size: 16px;
        font-weight: 600;
        background-color: #E05330;
        color: #ffffff;
        border-radius: 12px;
        padding: 15px 35px 15px 35px;
        border: none;
        margin-bottom: 8%;
    }
    .container-button-modal{
        display: flex;
        justify-content: center;
    }
    .modal-text-adj{
        font-size: 16px;
        font-weight: 600;
        color: rgba(30, 57, 141, 1);
    }
    .modal-img{
        width: 45px;
        height: 45px;
        margin-bottom: 0px;
    }
    .input-modal_cv{
        width: 400px;
        margin-left: 8%;
    }
    .label-modal_cv{
        margin-left: 8%;
    }
    /* adjntar */
    .container-modal-img{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 8%;
        margin-bottom: 8%;
      
    }
    .transparent-file-input {
        display: none;  
      }
    .custom-file-label{
        background-color: transparent; 
        color: #777;                   
        border: 2px #777;        
        padding: 10px 20px;             
        cursor: pointer;               
        font-size: 16px;                
        text-align: left; 
        margin: 0;
    }
    .custom-file-label:hover {
        opacity: 0.8;                   
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .work-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    .work-section-text-container{
        width: 700px;
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .work-title{
        font-family: Space Grotesk;
        font-size: 40px;
        font-weight: 700;
        line-height: 51.04px;
        text-align: left;
        margin-bottom: 10%;
    
    }
    
    .work-section-text{
        font-family: Roboto Flex;
        font-size: 30px;
        font-weight: 400;
        line-height: 35.16px;
        text-align: left;
        margin-bottom: 10%;
    }
    
    .sumate{
        color: #E95B37;
        font-family: Space Grotesk;
        font-size: 40px;
        font-weight: 700;
        line-height: 51.04px;
        text-align: left;
        margin-bottom: 10%;
        text-align: left;
    }
    
    .button-work-with-us{
        font-family: Roboto Flex;
        font-size: 25px;
        font-weight: 600;
        line-height: 29.3px;
        text-align: left;
        background-color: #E05330;
        color: #ffffff;
        border-radius: 12px;
        padding: 18px;
        border: none;
        margin-bottom: 20%;
    }
    
    .work-img{
        margin-left: 4%;
    }
    .work-section_img{
        width: 460px;
        height: 620px;
    }
    
    .work-section-responsive{
        display: none;
    }
    .work-section_img-responsive{
        display: none;
    }

    /* MODAL CV */
    .modal-title-cv{
        text-align: center;
        margin-bottom: 40px;
    }
    .modal-text{
        color: rgba(67, 66, 66, 1);
        margin-right: 25%;
        font-size: 14px;
    }
    
    .button-work-with-us_modal{
        font-family: Roboto Flex;
        font-size: 16px;
        font-weight: 600;
        background-color: #E05330;
        color: #ffffff;
        border-radius: 12px;
        padding: 15px 35px 15px 35px;
        border: none;
        margin-bottom: 8%;
    }
    .container-button-modal{
        display: flex;
        justify-content: center;
    }
    .modal-text-adj{
        font-size: 16px;
        font-weight: 600;
        color: rgba(30, 57, 141, 1);
    }
    .modal-img{
        width: 45px;
        height: 45px;
        margin-bottom: 0px;
    }
    .input-modal_cv{
        width: 400px;
        margin-left: 8%;
        margin-bottom: 12px;
    }
    .label-modal_cv{
        margin-left: 8%;
        margin-bottom: 20px;
    }

    /* adjntar */
    .container-modal-img{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 12%;
        margin-bottom: 8%;
      
    }
    .transparent-file-input {
        display: none;  
      }
    .custom-file-label{
        background-color: transparent; 
        color: #777;                   
        border: 2px #777;        
        padding: 10px 20px;             
        cursor: pointer;               
        font-size: 16px;                
        text-align: left; 
        margin: 0;
    }
    .custom-file-label:hover {
        opacity: 0.8;                   
    }
}

 /* Pantallas de escritorio pequeñas  */
@media (min-width: 1281px) and (max-width: 1440px) {
    .work-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    .work-section-text-container{
        width: 700px;
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .work-title{
        font-family: Space Grotesk;
        font-size: 40px;
        font-weight: 700;
        line-height: 51.04px;
        text-align: left;
        margin-bottom: 10%;
    
    }
    
    .work-section-text{
        font-family: Roboto Flex;
        font-size: 30px;
        font-weight: 400;
        line-height: 35.16px;
        text-align: left;
        margin-bottom: 10%;
    }
    
    .sumate{
        color: #E95B37;
        font-family: Space Grotesk;
        font-size: 40px;
        font-weight: 700;
        line-height: 51.04px;
        text-align: left;
        margin-bottom: 10%;
        text-align: left;
    }
    
    .button-work-with-us{
        font-family: Roboto Flex;
        font-size: 25px;
        font-weight: 600;
        line-height: 29.3px;
        text-align: left;
        background-color: #E05330;
        color: #ffffff;
        border-radius: 12px;
        padding: 18px;
        border: none;
        margin-bottom: 20%;
    }
    
    .work-img{
        margin-left: 4%;
    }
    .work-section_img{
        width: 460px;
        height: 620px;
    }
    
    .work-section-responsive{
        display: none;
    }
    .work-section_img-responsive{
        display: none;
    }
    /* MODAL CV */
    .modal-title-cv{
        text-align: center;
        margin-bottom: 40px;
    }
    .modal-text{
        color: rgba(67, 66, 66, 1);
        margin-right: 25%;
        font-size: 14px;
    }
    .container-modal-img{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 12%;
      
    }
    .button-work-with-us_modal{
        font-family: Roboto Flex;
        font-size: 16px;
        font-weight: 600;
        background-color: #E05330;
        color: #ffffff;
        border-radius: 12px;
        padding: 15px 35px 15px 35px;
        border: none;
        margin-bottom: 8%;
    }
    .container-button-modal{
        display: flex;
        justify-content: center;
    }
    .modal-text-adj{
        font-size: 16px;
        font-weight: 600;
        color: rgba(30, 57, 141, 1);
    }
    .modal-img{
        width: 45px;
        height: 45px;
        margin-bottom: 40px;
    }
    .input-modal_cv{
        width: 400px;
        margin-left: 8%;
    }
    .label-modal_cv{
        margin-left: 8%;
    }

}
 
  /* Pantallas de escritorio grandes */
@media (min-width: 1441px) and (max-width: 1920px) {
    .work-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    
    .work-section-text-container{
        width: 700px;
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .work-title{
        font-family: Space Grotesk;
        font-size: 40px;
        font-weight: 700;
        line-height: 51.04px;
        text-align: left;
        margin-bottom: 10%;
    
    }
    
    .work-section-text{
        font-family: Roboto Flex;
        font-size: 30px;
        font-weight: 400;
        line-height: 35.16px;
        text-align: left;
        margin-bottom: 10%;
    }
    
    .sumate{
        color: #E95B37;
        font-family: Space Grotesk;
        font-size: 40px;
        font-weight: 700;
        line-height: 51.04px;
        text-align: left;
        margin-bottom: 10%;
        text-align: left;
    }
    
    .button-work-with-us{
        font-family: Roboto Flex;
        font-size: 25px;
        font-weight: 600;
        line-height: 29.3px;
        text-align: left;
        background-color: #E05330;
        color: #ffffff;
        border-radius: 12px;
        padding: 18px;
        border: none;
        margin-bottom: 5%;
    }
    
    .work-img{
        margin-left: 4%;
    }
    .work-section_img{
        width: 460px;
        height: 620px;
    }
    
    .work-section-responsive{
        display: none;
    }
    .work-section_img-responsive{
        display: none;
    }

    /* MODAL CV */
    .modal-title-cv{
        text-align: center;
        margin-bottom: 40px;
    }
    .modal-text{
        color: rgba(67, 66, 66, 1);
        margin-right: 52%;
        font-size: 14px;
    }
    .container-modal-img{
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 6%;
      
    }
    .button-work-with-us_modal{
        font-family: Roboto Flex;
        font-size: 16px;
        font-weight: 600;
        background-color: #E05330;
        color: #ffffff;
        border-radius: 12px;
        padding: 15px 35px 15px 35px;
        border: none;
        margin-bottom: 8%;
    }
    .container-button-modal{
        display: flex;
        justify-content: center;
    }
    .modal-text-adj{
        font-size: 16px;
        font-weight: 600;
        color: rgba(30, 57, 141, 1);
    }
    .modal-img{
        width: 45px;
        height: 45px;
        margin-bottom: 40px;
    }
    .input-modal_cv{
        width: 400px;
        margin-left: 8%;
        margin-bottom: 4%;
    }
    .label-modal_cv{
        margin-left: 8%;
        margin-bottom: 4%;
    }
} 

